<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title='Reset Password')}">

<head>
    <!-- Ваши мета-теги, стили и скрипты могут идти здесь -->
</head>

<body>
    <section layout:fragment="content">
        <h2>Reset Password</h2>
        <form action="#" method="post" th:action="@{/resetPassword}" th:object="${resetPasswordForm}">
            
        <div class="field">
                <label for="name">Username</label><br/>
                <input id="name" name="name" th:field="*{name}" th:errorclass="fieldError" type="text" required="required"/><br/>
                <div class="ui negative message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    <p>Der Name darf nicht leer sein.</p>
                </div>
        </div>

        <div class="field">
                <label th:text="#{register.address}" for="address">Straße</label><br/>
                <input id="address" name="address" th:field="*{address}" th:errorclass="fieldError" type="text"
                       required="required"/><br/>
                <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Die Adresse darf
                    nicht leer sein.</p>
        </div>

           

            <div th:if="${#fields.hasErrors()}">
                <p class="error-message" th:object="${resetError}">Invalid username or email.</p>
            </div>

            <input type="submit" value="Confirm"/>
        </form>
    </section>
</body>

</html>
